
django==3.2.19
djangorestframework
django-filter
coreapi
pymysql
python-memcached
beautifulsoup4
requests
lxml
mysqlclient
django-tagging
markdown
django-cors-headers
django-crispy-forms
django-guardian

