
django==2.0.8
djangorestframework
django-filter
coreapi
pymysql
python-memcached
beautifulsoup4
requests
lxml
mysqlclient
django-tagging
markdown
django-cors-headers
django-crispy-forms
django-guardian

zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
